In [1]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\appdata\roaming\python\python39\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\admin\appdata\roaming\python\python39\site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector

In [3]:
# Task 1
mydb=mysql.connector.connect(user="FinalAdmin", password="1234!@#$mylongpass")

In [4]:
mycursor=mydb.cursor()

In [5]:
mycursor.execute("SHOW DATABASES")
for database in mycursor:
    print(database)

('final_db_lemon',)
('global_customer_erp',)
('information_schema',)
('little_lemon_db',)
('magnata_gallo',)
('mg_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [6]:
mycursor.execute("USE final_db_lemon")

In [7]:
mydb.database

'final_db_lemon'

In [8]:
# Task 2
mycursor.execute("SHOW TABLES;")

In [9]:
myresult = mycursor.fetchall()

In [10]:
for x in myresult:
    print(x)

('bookings',)
('bookings_2',)
('customer_details',)
('delivery_status',)
('menus',)
('orders',)
('ordersview',)
('staff_information',)

In [11]:
# Task 3
# Example to check extractions
# mycursor.execute("SELECT * FROM customer_details")
# res=mycursor.fetchall()
# for x in res:
#    print(x)

In [13]:
joins="""SELECT cd.Customer_ID, cd.Full_Name, o.Total_Cost 
FROM customer_details cd
LEFT JOIN orders o
ON o.Customer_Details_Customer_ID=cd.Customer_ID
WHERE o.Total_Cost > 60
ORDER BY o.Total_Cost DESC;"""
mycursor.execute(joins)

In [14]:
all_data=mycursor.fetchall()

In [15]:
for x in all_data:
    print(x)

(3, 'Shakira Moybus', Decimal('900'))
(2, 'Ms Quick', Decimal('660'))
(4, 'Luis Chavarlier', Decimal('410'))
(1, 'Peter Pan', Decimal('180'))
(5, 'Jurgen Schmidt', Decimal('130'))